<!--views/admin/pedidos.ejs-->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    #exportMenu a {
      padding: 6px 12px;
      background-color: white;
      border: 1px solid #ccc;
      margin-bottom: 4px;
      display: block;
      width: 100px;
      text-align: center;
      text-decoration: none;
      color: #333;
    }
    #exportMenu a:hover {
      background-color: #f0f0f0;
    }
  </style>
</head>
<body>
  <h1><%= title %></h1>

  <p><a href="/admin/dashboard">⬅ Volver al panel de administración</a></p>
  
  <!-- Exportar pedidos -->
   <div style="margin-bottom: 20px; position: relative;">
    <button id="exportPedidosButton" class="btn btn-primary">Exportar</button>
    <div id="exportPedidosMenu" style="display: none; position: absolute; z-index: 10;">
      <a href="/admin/exportar-productos/csv" class="btn btn-outline-secondary btn-sm d-block">CSV</a>
      <a href="/admin/exportar-productos/pdf" class="btn btn-outline-secondary btn-sm d-block">PDF</a>
      <a href="/admin/exportar-productos/excel" class="btn btn-outline-secondary btn-sm d-block">Excel</a>
    </div>
  </div>

  <script>
  const exportPedidosButton = document.getElementById('exportPedidosButton');
  const exportPedidosMenu = document.getElementById('exportPedidosMenu');

  exportPedidosButton.addEventListener('click', () => {
    exportPedidosMenu.style.display = exportPedidosMenu.style.display === 'none' ? 'block' : 'none';
  });

  document.addEventListener('click', function (event) {
    if (!exportPedidosButton.contains(event.target) && !exportPedidosMenu.contains(event.target)) {
      exportPedidosMenu.style.display = 'none';
    }
  });
  </script>

  <% if (pedidos.length === 0) { %>
    <p>Sin pedidos.</p>
  <% } else { %>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Cliente</th>
          <th>Fecha de pedido</th>
          <th>Estado</th>
          <th>Estado del trabajo</th>
        </tr>
      </thead>
      <tbody>
        <% pedidos.forEach(pedido => { %>
          <tr>
            <td><%= pedido.id %></td>
            <td><%= pedido.Cliente.nombre %></td>
            <td><%= pedido.createdAt.toLocaleString() %></td>
            <td><%= pedido.pagado ? 'Pagado' : 'En espera de pago' %></td>
            <td>
              <form action="/admin/pedidos/<%= pedido.id %>/estado" method="POST">
                <select name="estadoTrabajo" onchange="this.form.submit()">
                  <% const estados = ['En proceso', 'Pagado', 'Enviado a procesamiento', 'En ensamblaje', 'Enviado a entrega', 'Entregado']; %>
                  <% estados.forEach(estado => { %>
                    <option value="<%= estado %>" <%= pedido.estadoTrabajo === estado ? 'selected' : '' %>><%= estado %></option>
                  <% }) %>
                </select>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</body>
</html>
